@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../views':
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    #sidebar-top.secondary::after {
        border-bottom: none;
        margin-top: 0;
    }
}

@theme {
    /* Font families */
    --font-sans: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Semibold", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --font-verdana: Verdana, sans-serif;
    --font-systemUi: -apple-system, system-ui, BlinkMacSystemFont, Avenir Next, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

    /* cds-blue colors */
    --color-cds-blue-50: #f4f7fb;
    --color-cds-blue-100: #e7f0f7;
    --color-cds-blue-200: #cadeed;
    --color-cds-blue-300: #9bc3de;
    --color-cds-blue-400: #65a5cb;
    --color-cds-blue-500: #4289b5;
    --color-cds-blue-600: #2d668e;
    --color-cds-blue-700: #28587c;
    --color-cds-blue-800: #254b67;
    --color-cds-blue-900: #234057;
    --color-cds-blue-950: #17293a;

    /* cds-gray colors */
    --color-cds-gray-50: #f6f6f6;
    --color-cds-gray-100: #e7e7e7;
    --color-cds-gray-200: #d1d1d1;
    --color-cds-gray-300: #b0b0b0;
    --color-cds-gray-400: #888888;
    --color-cds-gray-500: #767676;
    --color-cds-gray-600: #5d5d5d;
    --color-cds-gray-700: #4f4f4f;
    --color-cds-gray-800: #454545;
    --color-cds-gray-900: #3d3d3d;
    --color-cds-gray-950: #262626;

    /* wa colors */
    --color-wa-pass: #caff37;
    --color-wa-warn: #f6b26b;
    --color-wa-fail: #ea9999;
    --color-wa-na: #9fc5e8;

    /* impact colors */
    --color-impact-critical: #e6cff2;
    --color-impact-serious: #ffcfc9;
    --color-impact-moderate: #ffe5a0;
    --color-impact-low: #d5edbc;
}

@layer utilities {
    .scroll-fade-top {
        background-image: linear-gradient(to bottom, #f7f7f7, rgba(255, 255, 255, 0));
    }

    .scroll-fade-bottom {
        background-image: linear-gradient(to top, #f7f7f7, rgba(255, 255, 255, 0));
    }
}

@layer components {
    .scroll-nav-button {
        @apply absolute inset-x-0 flex items-center justify-center h-8 cursor-pointer;
    }
}

@utility bg-radio-checked {
    background-image: url('/cwd-framework/images/layout/checked-radio.svg');
}
@utility bg-checked {
    background-image: url('/cwd-framework/images/layout/checked.svg');
}

@utility default-focus-ring {
    outline: -webkit-focus-ring-color auto 1px;
}

@utility focus-ring {
    /*@apply outline-0 focus:ring-[3px] focus:ring-offset-2 ring-[#2BA3E3]/40;*/
    @apply focus:default-focus-ring focus:shadow-none;
}

[data-flux-button] {
    @apply cursor-pointer;
    @apply focus-ring;
    @apply font-verdana;

    &.primary {
        @apply rounded-none;
        @apply text-white bg-cds-blue-600 hover:bg-[#2471a7];
    }
    &.secondary {
        @apply rounded-none;
        @apply text-white bg-cds-gray-500 hover:bg-cds-gray-400;
    }

    &[data-cds-button-assessment] {
        @apply text-black;
        &.pass {
            @apply bg-wa-pass;
        }
        &.warn {
            @apply bg-wa-warn;
        }
        &.fail {
            @apply bg-wa-fail;
        }
        &.na {
            @apply bg-wa-na;
        }
    }
}

[data-cds-impact] {
    &.critical {
        @apply bg-impact-critical;
    }
    &.serious {
        @apply bg-impact-serious;
    }
    &.moderate {
        @apply bg-impact-moderate;
    }
    &.low {
        @apply bg-impact-low;
    }
}

[data-flux-fieldset] {
    @apply max-w-[600px] mb-4;

    /* Legend */
    [data-flux-legend] {
        @apply font-sans text-[15px] font-semibold text-cds-gray-950 mb-0;
    }
}

/* Form fields */
[data-flux-field] {
    @apply max-w-[600px] mb-4;

    /* Label */
    [data-flux-label] {
        @apply font-sans text-[15px] font-semibold text-cds-gray-950 mb-1;
    }

    /* Description */
    [data-flux-description] {
        @apply mb-1;
        @apply font-verdana text-[13px] text-cds-gray-600;
    }

    /* Error */
    [data-flux-error] {
        @apply mt-1;
    }

    /* Input */
    [data-flux-input] {
        > input {
            @apply font-systemUi;
            @apply border-cds-gray-300 rounded-none;
            @apply disabled:border-cds-gray-200 disabled:bg-cds-gray-50;
            @apply focus-ring;
        }
    }

    /* Select */
    [data-flux-select] {
        [data-flux-input] {
            [data-flux-button] {
                @apply rounded-none bg-cds-blue-600/95;
                @apply w-8 h-10 -my-2 -mr-3;
                [data-flux-icon] {
                    @apply text-white in-[[disabled]]:text-cds-gray-50;
                }
            }
        }
        [data-flux-select-button] {
            @apply border border-cds-gray-400 rounded-none;
            @apply bg-linear-to-b from-[#fcfcfc] to-[#eeeeee];
            @apply font-systemUi;
            @apply cursor-pointer focus-ring;

            [data-flux-icon] {
                @apply bg-cds-blue-600/95 text-white;
                @apply w-8 h-10 py-2.5 -my-2 -mr-3;
            }
            &:hover {
                [data-flux-icon] {
                    @apply text-white;
                }
            }
        }
    }

    /* Select options */
    [data-flux-options] {
        @apply border-cds-gray-600 bg-cds-gray-600 rounded-none shadow-sm;

        [data-flux-option] {
            @apply font-systemUi text-white font-normal;
            div {
                @apply w-0;
            }

            &[data-active] {
                @apply bg-[#2471a7] rounded-none;
            }
        }
    }

    [data-flux-select-native] {
        @apply font-systemUi;
        @apply border-cds-gray-300 rounded-none;
        @apply disabled:border-cds-gray-200 disabled:bg-cds-gray-50;
        @apply focus-ring;
    }

    /* Textarea editor */
    [data-flux-editor] {
        @apply border-cds-gray-300 rounded-none;
        button {
            @apply cursor-pointer focus-ring;
        }

        [data-slot="content"] {
            @apply font-systemUi;
        }
        &[size="base"] {
            [data-slot="content"] {
                @apply min-h-44;
            }
        }
        &[size="sm"] {
            [data-slot="content"] {
                @apply min-h-24;
            }
        }
        &[size="lg"] {
            [data-slot="content"] {
                @apply min-h-64;
            }
        }
        .ProseMirror-focused {
            @apply focus:default-focus-ring;
        }
    }

    /* Checkbox */
    [data-flux-checkbox-group] {
        [data-flux-field] {
            @apply mb-1;
        }
    }
    [data-flux-checkbox] {
        @apply cursor-pointer focus-ring;
        @apply flex size-5 rounded-[3px];

        +[data-flux-label] {
            @apply cursor-pointer;
            @apply font-verdana font-medium text-sm;
            @apply mb-0 pt-0.5;
        }
        [data-flux-checkbox-indicator] {
            @apply size-5 rounded-[3px];
            @apply border-cds-gray-500;
        }
        &[data-checked] {
            [data-flux-checkbox-indicator] {
                @apply border-cds-gray-900 bg-[#45729f] bg-checked bg-center bg-no-repeat;
            }
        }
    }
    /* data-flux-field containing the checkbox */
    &:has(>[data-flux-checkbox]) {
        @apply pt-1 gap-x-2;
    }

    /* Radio */
    [data-flux-radio-group] {
        [data-flux-field] {
            @apply mb-1;
            @apply gap-y-0;
        }
    }
    [data-flux-radio] {
        @apply cursor-pointer focus-ring;

        +[data-flux-label] {
            @apply cursor-pointer;
            @apply font-verdana font-medium text-sm;
        }

        [data-flux-radio-indicator] {
            @apply border-cds-gray-500;
        }

        &[data-checked] {
            [data-flux-radio-indicator] {
                @apply border-cds-gray-900 bg-[#45729f] bg-radio-checked bg-center bg-no-repeat;
            }
        }
    }

    /* Radio cards */
    [data-flux-radio-group-cards] {
        [data-flux-radio-cards] {
            @apply cursor-pointer;
            @apply mb-0;
        }
        [data-focus] {
            @apply focus-ring;
        }
    }

    /* File upload */
    [data-flux-input-file] {
        @apply focus-ring rounded-[3px];
        [data-flux-button] {
            @apply rounded-none;
            @apply text-white bg-cds-gray-500 hover:bg-cds-gray-400;
        }
    }
}

[data-cds-field-display] {
    @apply mb-4;
    [data-flux-heading] {
        @apply font-sans font-semibold text-cds-gray-900 text-[15px];
        @apply mb-0;
    }
    [data-flux-text] {
        @apply text-cds-gray-950!;
    }
}

/* Keep data-cds-field-display elements from complicating div.expander */
div.expander {
    [data-cds-field-display] {
        @apply border-none ml-0 pl-0;

        [data-flux-heading] {
            @apply border-none ml-0 pl-0;
        }
        [data-flux-text] {
            @apply border-none ml-0 pl-0 mb-0;
        }
    }
}

[data-flux-tab-group] {
    [data-flux-tabs] {
        @apply gap-2 h-9 border-none;

        [data-focus] {
            @apply focus-ring;
        }
        [data-flux-tab] {
            @apply cursor-pointer;
            @apply mb-1 px-5 border-none rounded-xs;
            @apply text-black bg-cds-gray-100;
            &[data-active] {
                @apply text-white bg-cds-blue-600;
            }
        }
    }
    [data-flux-tab-panel] {
        @apply pt-1;
    }
}

[data-flux-dropdown] {
    [data-flux-menu] {
        @apply rounded-sm bg-cds-gray-600;
        [data-flux-menu-item] {
            @apply rounded-none text-left text-xs font-normal;
            @apply text-white bg-cds-gray-600;
            &[data-active] {
                @apply bg-[#2471a7];
            }
            [data-flux-menu-item-icon] {
                @apply text-white;
            }
        }
        [data-flux-separator] {
            @apply bg-cds-gray-400;
        }
    }
}

[data-flux-modal] {
    dialog {
        @apply min-w-[400px] max-w-(--breakpoint-xl);
    }
    [data-flux-modal-close] {
        [data-flux-button] {
            @apply bg-cds-gray-500 hover:bg-cds-gray-400;
            [data-flux-icon] {
                @apply text-white;
            }
        }
    }
}

/*[data-flux-icon] {*/
/*    @apply inline-block;*/
/*}*/

[data-cds-chat] {
    ul > li {
        @apply list-disc ml-6;
    }
    ol > li {
        @apply list-decimal ml-6;
    }
}

table.table[data-flux-table] {
    @apply whitespace-normal;

    [data-flux-column] {
        @apply bg-[#efefef];
        @apply border-cds-gray-200;
        @apply text-[13px] font-bold text-black;
        @apply px-2.5 py-1.5;

        [data-flux-table-sortable] {
            @apply cursor-pointer;
        }
    }
    [data-flux-cell] {
        @apply border-cds-gray-200;
        @apply text-[13px] text-black;
        @apply px-2.5 py-1.5;
    }
}

[data-flux-pagination] {
    button {
        @apply cursor-pointer;
    }
}
