@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../views':
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@theme {
    /* Font families */
    --font-sans: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Semibold", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --font-verdana: Verdana, sans-serif;
    --font-systemUi: -apple-system, system-ui, BlinkMacSystemFont, Avenir Next, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

    /* cds-blue colors */
    --color-cds-blue-50: #f4f7fb;
    --color-cds-blue-100: #e7f0f7;
    --color-cds-blue-200: #cadeed;
    --color-cds-blue-300: #9bc3de;
    --color-cds-blue-400: #65a5cb;
    --color-cds-blue-500: #4289b5;
    --color-cds-blue-600: #2d668e;
    --color-cds-blue-700: #28587c;
    --color-cds-blue-800: #254b67;
    --color-cds-blue-900: #234057;
    --color-cds-blue-950: #17293a;

    /* cds-gray colors */
    --color-cds-gray-50: #f6f6f6;
    --color-cds-gray-100: #e7e7e7;
    --color-cds-gray-200: #d1d1d1;
    --color-cds-gray-300: #b0b0b0;
    --color-cds-gray-400: #888888;
    --color-cds-gray-500: #767676;
    --color-cds-gray-600: #5d5d5d;
    --color-cds-gray-700: #4f4f4f;
    --color-cds-gray-800: #454545;
    --color-cds-gray-900: #3d3d3d;
    --color-cds-gray-950: #262626;

    /* wa colors */
    --color-wa-pass: #caff37;
    --color-wa-warn: #f6b26b;
    --color-wa-fail: #ea9999;
    --color-wa-na: #9fc5e8;
}

@utility bg-radio-checked {
    background-image: url('/cwd-framework/images/layout/checked-radio.svg');
}
@utility bg-checked {
    background-image: url('/cwd-framework/images/layout/checked.svg');
}

@utility focus-ring {
    @apply outline-0 focus:ring-[3px] ring-offset-2 ring-[#2BA3E3]/40;
}

[data-flux-button] {
    @apply cursor-pointer;
    @apply focus-ring;
}

/* Form fields */
[data-flux-field] {
    @apply max-w-[600px] mb-4;

    /* Label */
    [data-flux-label] {
        @apply font-sans text-[15px] font-semibold text-cds-gray-950 mb-1;
    }

    /* Legend */
    [data-flux-legend] {
        @apply text-base text-[15px] font-semibold text-cds-gray-950;
    }

    /* Input */
    [data-flux-input] {
        > input {
            @apply border-cds-gray-300 rounded-none;
            @apply disabled:border-cds-gray-200 disabled:bg-cds-gray-50;
            @apply focus-ring;
        }
    }

    /* Select */
    [data-flux-select] {
        [data-flux-input] {
            [data-flux-button] {
                @apply rounded-none bg-cds-blue-600/95;
                @apply w-8 h-10 -my-2 -mr-2;
                [data-flux-icon] {
                    @apply text-white in-[[disabled]]:text-cds-gray-50;
                }
            }
        }
        [data-flux-select-button] {
            @apply border border-cds-gray-400 rounded-none;
            @apply bg-linear-to-b from-[#fcfcfc] to-[#eeeeee];
            @apply text-base text-cds-gray-600;
            @apply cursor-pointer focus-ring;

            [data-flux-icon] {
                @apply bg-cds-blue-600/95 text-white;
                @apply w-8 h-10 py-2.5 -my-2 -mr-3;
            }
            &:hover {
                [data-flux-icon] {
                    @apply text-white;
                }
            }
        }
    }

    /* Select options */
    [data-flux-options] {
        @apply border-cds-gray-600 bg-cds-gray-600 rounded-none shadow-sm;

        [data-flux-option] {
            @apply text-white;

            &[data-active] {
                @apply bg-[#2471a7] rounded-none;
            }
        }
    }

    /* Textarea editor */
    [data-flux-editor] {
        @apply border-cds-gray-300 rounded-none;
        .ProseMirror-focused {
            /*@apply focus-ring;*/
            @apply inset-ring-[3px] inset-ring-[#2BA3E3]/40;
        }
    }

    /* Checkbox */
    [data-flux-checkbox] {
        @apply cursor-pointer;
        @apply flex size-5 focus-ring rounded-[3px];

        +[data-flux-label] {
            @apply cursor-pointer;
            @apply font-verdana font-medium text-sm;
            @apply mb-0 pt-0.5;
        }
        [data-flux-checkbox-indicator] {
            @apply size-5 rounded-[3px];
            @apply border-cds-gray-500;
        }
        &[data-checked] {
            [data-flux-checkbox-indicator] {
                @apply border-cds-gray-900 bg-[#45729f] bg-checked bg-center bg-no-repeat;
            }
        }
    }
    /* data-flux-field containing the checkbox */
    &:has(>[data-flux-checkbox]) {
        @apply pt-1 gap-x-2;
    }

    /* Radio */
    [data-flux-radio-group-cards] {
        [data-flux-radio-cards] {
            @apply mb-0;
        }
        [data-focus] {
            @apply focus-ring;
        }
    }

    /* File upload */
    [data-flux-input-file] {
        @apply focus-ring rounded-[3px];
    }
}

[data-flux-tabs] {
    [data-focus] {
        @apply focus-ring;
    }
}

[data-flux-dropdown] {
    [data-flux-menu] {
        @apply rounded-sm bg-cds-gray-600;
        [data-flux-menu-item] {
            @apply rounded-none text-left text-xs font-normal;
            @apply text-white bg-cds-gray-600;
            &[data-active] {
                @apply bg-[#2471a7];
            }
            [data-flux-menu-item-icon] {
                @apply text-white;
            }
        }
    }
}
